<section>
    <h1>Perguntas Frequentes</h1>
    <div id="faq">
        <button class="accordion">1 - O que é o Siscarb?</button>
        <div class="panel">
            <p>Siscarb é uma plataforma criada para auxiliar mães de crianças moradores do município de São Paulo
                portadoras de diabetes tipo 1 a calcular a quantidade de carboidratos ingeridos em uma refeição.
            </p>
        </div>

        <button class="accordion">2 - Como eu posso salvar os cálculos?</button>
        <div class="panel">
            <p>Para consegui registrar o seu histórico é necessário criar uma conta e estar logado.
                Após isso, basta clicar no botão do carrinho no topo da página e em "Salvar Histórico" que os cálculos
                serão salvos.
            </p>
        </div>

        <button class="accordion">3 - Onde posso encontrar o cardápio do dia?</button>
        <div class="panel">
            <p>O cardápio pode ser acessado via menu principal. Será carregado um frame com um mapa onde poderá buscar
                pelo nome
                da escola onde a criança frequenta. Após selecionar a escola e a data, será carregado o cardápio do dia.
                Clique
                sobre a idade para ver o cardápio.
            </p>
        </div>

        <button class="accordion">4 - Posso modificar o código e criar minha própria solução?</button>
        <div class="panel">
            <p>Sim, o Siscarb é software livre e está disponível no Github. Você pode acessar o código fonte clicando no
                ícone do Github no rodapé da página.
            </p>
        </div>
    </div>
</section>