/* Config for small screens*/
@media only screen and (min-width:320px) {
    body {
        min-height: 100vh;
        background:linear-gradient(25deg,#5426e9, hsl(236, 57%, 20%));
        margin: 0;
        background-repeat: no-repeat;
        font-family: 'DM Sans';
        font-size: 1em;
        color: #FEE715;
        text-align: center;
    }
    .content {
        margin: 0;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
        opacity: 0;
        animation: fadeIn 0.5s ease-in-out forwards;
    }
    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
    }
    h1 {
        font-size: 2em;
    }
    a {
        text-decoration: none;
        color:#FEE715
    }
    ul {
        display: inline;
    }
    .nav-bar {
        text-align: right;
        padding-top: 4vh;
        margin-right: 2em;
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
        touch-action: manipulation;
    }
    .image_box {
        display: flex;
        justify-content: center;
        padding-top: 4vh;
    }
    .image_container {
        text-align: center; 
        margin: 0 0.8em; 
    }
    .image_container:hover {
        transform: scale(1.1); 
        transition: 0.5s ease;
    }
    .menu, .calculator {
        width: 5em;
        padding: 2vh;
        cursor: pointer;
        outline: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
        touch-action: manipulation;
    }
    p {
        padding: 0em 2em 0em 2em;
    }
}

/* Config for small devices and most mobile phones*/
@media screen and (min-width:480px) {
    body {
        min-height: 100vh;
        background:linear-gradient(25deg,#5426e9, hsl(236, 57%, 20%));
        margin: 0;
        background-repeat: no-repeat;
        font-family: 'DM Sans';
        font-size: 1em;
        color: #FEE715;
        text-align: center;
    }
    .content {
        margin: 0;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
        opacity: 0;
        animation: fadeIn 0.5s ease-in-out forwards;
    }
    @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
    }
    h1 {
        font-size: 1.8em;
    }
    a {
        text-decoration: none;
        color:#FEE715
    }
    ul {
        display: inline;
    }
    .nav-bar {
        text-align: right;
        padding-top: 4vh;
        margin-right: 2em;
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
        touch-action: manipulation;
    }
    .image_box {
        display: flex;
        justify-content: center;
        padding-top: 4vh;
    }
    .image_container {
        text-align: center; 
        margin: 0 0.8em; 
    }
    .image_container:hover {
        transform: scale(1.1); 
        transition: 0.5s ease;
    }
    .menu, .calculator {
        width: 5em;
        padding: 2vh;
        cursor: pointer;
        outline: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
        touch-action: manipulation;
    }
    p {
        padding: 0em 2em 0em 2em;
    }
}
