<h1>Contagem de Carboidratos</h1>
<section>
    <div class="image_box">
        <div class="image_container">
            <a routerLink="/cardapio">
                <img src="assets/img/menu.png" class="menu" alt="Ícone representando um menu.">
                <p>Cardápio do Dia</p>
            </a>
        </div>
        <div class="image_container">
            <a routerLink="/calcular_carboidratos">
                <img src="assets/img/calculator.png" class="calculator" alt="Ícone representando uma calculadora.">
                <p>Calcular Carboidratos</p>
            </a>
        </div>
    </div>
</section>